<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bitslibrary">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BitsLibrary">
        <activity android:name=".SuksesPengembalianActivity"></activity>
        <activity android:name=".KonfirmasiPengembalianActivity"
            android:label=""/>
        <activity
            android:name=".KonfirmasiPerubahanActivity"
            android:label="" />
        <activity
            android:name=".KonfirmasiPinjamActivity"
            android:label="" />
        <activity android:name=".SuksesPinjamActivity" />
        <activity
            android:name=".PengaturanAkunActivity"
            android:label="" />
        <activity
            android:name=".PinjamActivity"
            android:label="" />
        <activity
            android:name=".DetailPinjamanActivity"
            android:label="" />
        <activity
            android:name=".BookActivity"
            android:label="" />
        <activity android:name=".AllBookActivity" />
        <activity
            android:name=".MainActivity"
            android:label="" />
        <activity
            android:name=".DaftarPinjamanActivity"
            android:label="" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>